* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CABEZA*/
/*BARRA DE OPCIONES*/
.navbar {
    background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%);
    justify-content: center;
}
.redes {
    width: 40px;
    height: 40px;
    justify-content: center;
    display: inline;
}
.imagen {
    width: 40px;
    height: 40px;
    justify-content: flex-start;
    display: inline;
}
.button {
    border: none;
    border-radius: 20px;
}

/*CARRITO*/
#productos {
    list-style: none;
}
.agregar-carrito {
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.agregar-carrito:hover {
    background-color: #45a049;
}
#carrito {
    list-style-type: none;
    padding: 1rem;
}
#carrito li {
    margin-bottom: 10px;
}
.nav-item:hover {
    border-radius: 20%;
    background-color: lightgoldenrodyellow;
}


/*CUERPO*/
body {
    background-color: #f5f186;
    background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%);
    display: block;
    padding: 1rem;
    justify-content: center;
    width: 1200px;
    height: 500px;
    box-sizing: border-box;
    line-height: 26px;
    font-size: 13px;
    z-index: 2;
}
.grid {
    display: block;
    justify-content: flex-end;
}
.contenedor {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    flex-direction: column;
    padding: 1rem;
    margin: 20px 15px 20px 15px;
    margin-left: 15 px;
    margin-right: 15px;
    justify-content: center;
    width: 300px;
    box-sizing: content-box;
    padding: 1rem;
    border-radius: 15px;
    overflow: auto;
}

img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
img:hover {
    opacity: 1;
    border: black;
    border-radius: 80px;
}
.button {
    opacity: 1;
    border: black;
    border-radius: 80px;
}

.accordion {
    display: flex;
    width: 500px;
    height: 200px;
    padding: 10px;
    border-radius: 100%;
    box-sizing: border-box;
}

/*FORMULARIO*/
.form {
    background-size:100% 100%;
    text-decoration-color: black ;
    padding: 3rem;
    margin: 1rem;
    border: 10px;
    justify-content: center;
    box-sizing: border-box;
    list-style: none;
}
.lista{
width: 1040px;
height: 200px;
justify-content: flex-start;
}
.link {
    border-bottom: #9dfbc8;
    text-decoration-color: black;
    list-style: none;
}

/*SUCURSALAES*/
.sucursales {
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 1200px;
}

/*MULTIMEDIA*/
.iframe {
    background-size:100% 100%;
    display: flex;
    justify-content: end;
    text-align: center;
    box-sizing: border-box;
    width: 1000px;
}

/*PIE DE PAGINA*/
.footer {
    background-size:100% 100%;
    padding: 1rem;
    margin: auto;
    text-align: center;
    /*box-sizing: border-box;*/

}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    body {
        background-color: white;
    }
}