* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

html {
    background-color: black;
    padding: auto;

}


/*CABEZA*/
head {
    background-color: goldenrod;
}

/*BARRA DE OPCIONES*/
nav {
background-color: goldenrod;
}


/*CUERPO*/
body {
    background-color: goldenrod;
    margin: 5px;
    padding: auto;
    background-size: contain;
}

/*FORMULARIO*/
.form {
    background: white;
    align-items: flex-end;
    flex-direction: column;
    width: 1320px;
    height: 500px;
    padding: auto;
    margin: 5px;
    border-top: solid black 2px;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    border-left: solid 2px black;

}

/*PIE DE PAGINA*/
footer {
    background:black;
    width: 1300px;
    height: 100px;
    padding: 5px;
    margin: 5px auto;
    border-top: solid black 2px;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    border-left: solid 2px black;
    text-align: center;   
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    body {
        background-color: white;
}    
    }

